<li class="has-children">
  <a href="#">КОЛЬЦА</a>
  <ul class="cd-secondary-nav is-hidden row">

    <li class="go-back"><a href="#">КАТАЛОГ</a>
    </li>
    <li class="see-all grey lighten-4"><a href="#">ВСЕ КОЛЬЦА</a></li>
    <li class="has-children col s12 m12 l3">
      <a href="#">ВИД УКРАШЕНИЯ</a>
      <ul class="is-hidden">
        <li class="go-back"><a href="#">КОЛЬЦА</a></li>
        <li><a href="#">Обручальные кольца</a></li>
        <li><a href="#">Помолвочные кольца</a></li>
        <li><a href="#">Кольца с фианитами</a></li>
        <li><a href="#"> Кольца с эмалью</a></li>
        <li><a href="#">Кольца из керамики</a></li>
      </ul>
    </li>
    <li class="has-children col s12 m12 l3">
      <a href="#">МАТЕРИАЛ</a>
      <ul class="is-hidden">
        <li class="go-back"><a href="#">КОЛЬЦА</a></li>
        <li><a data-text="Белое золото" href="#"><span>Кольца из белого золота</span></a></li>
        <li><a data-text="Желтое золото" href="#"><span>Кольца из желтого золота</span></a></li>
        <li><a data-text="Розовое золото" href=""><span>Кольца из розового золота</span></a></li>
        <li><a data-text="Серебро" href="#"><span>Серебряные кольца</span></a></li>
      </ul>
    </li>
    <li class="has-children col s12 m12 l3">
      <a href="#">ВСТАВКА</a>
      <ul class="is-hidden">
        <li class="go-back"><a href="#">КОЛЬЦА</a></li>
        <li><a data-text="Аметист" href=""><span>Кольца с аметистом </span></a></li>
        <li><a data-text="Бриллиант" href="#"><span>Золотые кольца с бриллиантами</span></a></li>
        <li><a data-text="Изумруд" href="#"><span>Кольца с изумрудом </span></a></li>
        <li><a data-text="Кварц" href="#"><span>Кольца с кварцем </span></a></li>
      </ul>
    </li>
    <li class="has-children col s12 m12 l3">
      <a href="#">ЦЕНА</a>
      <ul class="is-hidden">
        <li class="go-back"><a href="#">КОЛЬЦА</a></li>
        <li><a data-text="до 5000 руб." href="#"><span>до 5000 руб.</span></a></li>
        <li><a data-text="5000-10000 руб." href="#"><span>5000-10000 руб.</span></a></li>
        <li><a data-text="10000-20000 руб." href="#"><span>10000-20000 руб.</span></a></li>
        <li><a data-text="20000-30000 руб." href="#"><span>20000-30000 руб.</span></a></li>
        <li><a data-text="от 30000 руб." href="/catalogue/search/?type=rings&amp;price_from=30000.0&amp;price_to=10000000.0"><span>от 30000 руб.</span></a></li>
      </ul>
    </li>
  </ul>
</li>

<!-- Название категории (Первый уровень)-->
<li class="has-children">

  <a href="#">Кольца</a>

  <!-- Второй уровень -->
  <ul class="cd-secondary-nav is-hidden row">
    <li class="go-back">
      <a href="#">Каталог</a>    <!--Ко всем категориям навигации-->
    </li>

    <li class="see-all grey lighten-4">
      <a href="#">Все кольца</a>  <!-- В категорию -->
    </li>

    <!-- Виды, размеры  (если есть) -->
    <li class="has-children col s12 m12 l3">
      <a href="/#">Вид украшения</a> <!-- Название фильтра (Вид, вставка, цена) -->

      <!-- Третий уровень -->
      <ul class="is-hidden">
        <li class="go-back"><a href="#">Кольца</a></li>  <!-- В категорию навигации (Имя категории)-->
        <li class="see-all grey lighten-4">
          <a href="#">Все кольца</a> <!-- В категорию -->
        </li>
        <li><a href="#">Обручальные кольца</a></li> <!-- Cсылка в каталог с этим фильтром -->
        <li><a href="#">Помолвочные кольца</a></li>
        <li><a href="#">Кольца с фианитами</a></li>
        <li><a href="#">Кольца с эмалью</a></li>
        <li><a href="#">Кольца из керамики</a></li>
      </ul>
      <!-- /Третий уровень -->
    </li>
    <!-- /Виды, размеры  (если есть) -->


    <li class="has-children col s12 m12 l3">
      <a href="/#">Материал</a>
      <ul class="is-hidden">
        <li class="go-back"><a href="#">Кольца</a></li>
        <li class="see-all grey lighten-4"><a href="/catalogue/rings.html">Все кольца</a></li>
        <li><a data-text="Белое золото" href="/catalogue/rings/beloe-zoloto.html"><span>Кольца из белого золота</span></a></li>
        <li><a data-text="Желтое золото" href="/catalogue/rings/jeltoe-zoloto.html"><span>Кольца из желтого золота</span></a></li>
        <li><a data-text="Розовое золото" href="/catalogue/rings/rozovoe-zoloto.html"><span>Кольца из розового золота</span></a></li>
        <li><a data-text="Серебро" href="/catalogue/rings/serebro.html"><span>Серебряные кольца</span></a></li>
      </ul>
    </li>

    <li class="has-children col s12 m12 l3">
      <a href="/#">Вставка</a>
      <ul class="is-hidden">
        <li class="go-back"><a href="#">Кольца</a></li>
        <li class="see-all grey lighten-4"><a href="/catalogue/rings.html">Все кольца</a></li>
        <li><a data-text="Аметист" href="/catalogue/rings/ametist.html"><span>Кольца с аметистом </span></a></li>
        <li><a data-text="Бриллиант" href="#"><span>Золотые кольца с бриллиантами</span></a></li>
        <li><a data-text="Изумруд" href="#"><span>Кольца с изумрудом </span></a></li>
        <li><a data-text="Кварц" href="#"><span>Кольца с кварцем </span></a></li>
        <li><a data-text="Сапфир" href="#"><span>Кольца с сапфиром </span></a></li>
        <li><a data-text="Топаз" href="#"><span>Кольца с топазом</span></a></li>
        <li><a data-text="Топаз London Blue" href="#"><span>Кольца с топазом London Blue </span></a></li>
        <li><a data-text="Жемчуг" href="#"><span>Кольца с жемчугом </span></a></li>
        <li><a data-text="Фианит" href="#"><span>Кольца  с фианитами</span></a></li>
      </ul>
    </li>

    <li class="has-children col s12 m12 l3">
      <a href="#">Цена</a>
      <ul class="is-hidden">
        <li class="go-back"><a href="#">Кольца</a></li>
        <li class="see-all grey lighten-4"><a href="/catalogue/rings.html">Все кольца</a></li>
        <li><a data-text="до 5000 руб." href="/catalogue/search/?type=rings&amp;price_from=0&amp;price_to=5000.0"><span>до 5000 руб.</span></a></li>
        <li><a data-text="5000-10000 руб." href="/catalogue/search/?type=rings&amp;price_from=5000.0&amp;price_to=10000.0"><span>5000-10000 руб.</span></a></li>
        <li><a data-text="10000-20000 руб." href="/catalogue/search/?type=rings&amp;price_from=10000.0&amp;price_to=20000.0"><span>10000-20000 руб.</span></a></li>
        <li><a data-text="20000-30000 руб." href="/catalogue/search/?type=rings&amp;price_from=20000.0&amp;price_to=30000.0"><span>20000-30000 руб.</span></a></li>
        <li><a data-text="от 30000 руб." href="/catalogue/search/?type=rings&amp;price_from=30000.0&amp;price_to=10000000.0"><span>от 30000 руб.</span></a></li>
      </ul>
    </li>

  </ul>
  <!-- /Второй уровень -->
</li>
<!-- /Первый уровень -->

<li class="has-children">
  <a href="/catalogue/earrings.html">СЕРЬГИ</a>
  <ul class="cd-secondary-nav row is-hidden">
    <li class="go-back"><a href="/app/assets/stylesheets#">КАТАЛОГ</a></li>
    <li class="see-all grey lighten-4"><a href="/catalogue/earrings.html">ВСЕ СЕРЬГИ</a></li>
    <li class="has-children col s12 m12 l3">
      <a href="/app/assets/stylesheets#">МАТЕРИАЛ</a>
      <ul class="is-hidden">
        <li class="go-back"><a href="/app/assets/stylesheets#">СЕРЬГИ</a></li>
        <li><a data-text="Желтое золото" href="/catalogue/earrings/jeltoe-zoloto.html"><span>Серьги из желтого золота </span></a></li><li><a data-text="Розовое золото" href="/catalogue/earrings/rozovoe-zoloto.html"><span>Серьги из розового золота </span></a></li><li><a data-text="Белое золото" href="/catalogue/earrings/beloe_zoloto.html"><span>Серьги из белого золота</span></a></li>
        <li><a data-text="Серебро" href="/catalogue/earrings/serebro.html"><span>Серьги из серебра</span></a></li>
      </ul>
    </li>
    <li class="has-children col s12 m12 l3">
      <a href="/app/assets/stylesheets#">ВСТАВКА</a>
      <ul>
        <li class="go-back"><a href="/app/assets/stylesheets#">СЕРЬГИ</a></li>
        <li><a data-text="Аметист" href="/catalogue/earrings/ametist.html"><span>Серьги с аметистом </span></a></li><li><a data-text="Бриллиант" href="/catalogue/earrings/brilliant.html"><span>Серьги с бриллиантами </span></a></li><li><a data-text="Изумруд" href="/catalogue/earrings/izumrud.html"><span>Серьги с изумрудом</span></a></li><li><a data-text="Рубин" href="/catalogue/earrings/rubin.html"><span>Серьги с рубином </span></a></li><li><a data-text="Сапфир" href="/catalogue/earrings/sapfir.html"><span>Серьги с сапфиром </span></a></li><li><a data-text="Топаз" href="/catalogue/earrings/topaz.html"><span>Серьги с топазом </span></a></li><li><a data-text="Жемчуг" href="/catalogue/earrings/zhemchug.html"><span>Серьги с жемчугом </span></a></li><li><a data-text="Топаз London Blue" href="/catalogue/earrings/lond.html"><span>Серьги с топазом London Blue </span></a></li><li><a data-text="Фианит" href="/catalogue/earrings/fianit.html"><span>Серьги с фианитами</span></a></li>
      </ul>
    </li>
    <li class="has-children col s12 m12 l3">
      <a href="/app/assets/stylesheets#">ЦЕНА</a>
      <ul>
        <li class="go-back"><a href="/app/assets/stylesheets#">СЕРЬГИ</a></li>
        <li><a data-text="до 5000 руб." href="/catalogue/search/?type=earrings&amp;price_from=0&amp;price_to=5000.0"><span>до 5000 руб.</span></a></li><li><a data-text="5000-10000 руб." href="/catalogue/search/?type=earrings&amp;price_from=5000.0&amp;price_to=10000.0"><span>5000-10000 руб.</span></a></li><li><a data-text="10000-20000 руб." href="/catalogue/search/?type=earrings&amp;price_from=10000.0&amp;price_to=20000.0"><span>10000-20000 руб.</span></a></li><li><a data-text="20000-30000 руб." href="/catalogue/search/?type=earrings&amp;price_from=20000.0&amp;price_to=30000.0"><span>20000-30000 руб.</span></a></li><li><a data-text="от 30000 руб." href="/catalogue/search/?type=earrings&amp;price_from=30000.0&amp;price_to=10000000.0"><span>от 30000 руб.</span></a></li>
      </ul>
    </li>
    <li class="has-children col s12 m12 l3">
    </li>
  </ul>
</li>

<li class="has-children">
  <a href="/catalogue/pendant.html">ПОДВЕСКИ</a>
  <ul class="cd-secondary-nav row is-hidden">
    <li class="go-back"><a href="/app/assets/stylesheets#">КАТАЛОГ</a></li>
    <li class="see-all grey lighten-4"><a href="/catalogue/pendant.html">ВСЕ ПОДВЕСКИ</a></li>
    <li class="has-children col s12 m12 l3">
      <a href="/app/assets/stylesheets#">МАТЕРИАЛ</a>
      <ul>
        <li class="go-back"><a href="/app/assets/stylesheets#">ПОДВЕСКИ</a></li>
        <li><a data-text="Белое золото" href="/catalogue/pendant/beloe-zoloto.html"><span>Подвески из белого золота</span></a></li><li><a data-text="Желтое золото" href="/catalogue/pendant/jeltoe-zoloto.html"><span>Подвески из желтого золота</span></a></li><li><a data-text="Розовое золото" href="/catalogue/pendant/rozovoe-zoloto.html"><span>Подвески из розового золота</span></a></li>
        <li><a data-text="Серебро" href="/catalogue/pendant/serebro.html"><span>Подвески и кулоны из серебра </span></a></li>
      </ul>
    </li>
    <li class="has-children col s12 m12 l3">
      <a href="/app/assets/stylesheets#">ВСТАВКА</a>
      <ul>
        <li class="go-back"><a href="/app/assets/stylesheets#">ПОДВЕСКИ</a></li>
        <li>
          <a data-text="Аметист" href="/catalogue/pendant/ametist.html"><span>Подвески с аметистом</span></a></li>
        <li><a data-text="Бриллиант" href="/catalogue/pendant/brilliant.html"><span>Подвески с бриллиантом</span></a></li><li><a data-text="Изумруд" href="/catalogue/pendant/izumrud.html"><span>Подвески с изумрудом </span></a></li>
        <li><a data-text="Кварц" href="/catalogue/pendant/kvarts.html"><span>Подвески с кварцем </span></a></li>
        <li><a data-text="Корунд" href="/catalogue/pendant/korund.html"><span>Подвески с корундом </span></a></li>
        <li><a data-text="Сапфир" href="/catalogue/pendant/sapfir.html"><span>Подвески с сапфиром </span></a></li>
        <li><a data-text="Топаз" href="/catalogue/pendant/topaz.html"><span>Подвески с топазами</span></a></li>
        <li><a data-text="Топаз London Blue" href="/catalogue/pendant/lond.html"><span>Подвески с топазом London</span></a></li><li><a data-text="Цитрин" href="/catalogue/pendant/tsitrin.html"><span>Подвески с цитрином </span></a></li><li><a data-text="Фианит" href="/catalogue/pendant/fianit.html"><span>Подвески  с фианитами</span></a></li>
      </ul>
    </li>
    <li class="has-children col s12 m12 l3">
      <a href="/app/assets/stylesheets#">ЦЕНА</a>
      <ul>
        <li class="go-back"><a href="/app/assets/stylesheets#">ПОДВЕСКИ</a></li>
        <li><a data-text="до 5000 руб." href="/catalogue/search/?type=pendant&amp;price_from=0&amp;price_to=5000.0"><span>до 5000 руб.</span></a></li><li><a data-text="5000-10000 руб." href="/catalogue/search/?type=pendant&amp;price_from=5000.0&amp;price_to=10000.0"><span>5000-10000 руб.</span></a></li><li><a data-text="10000-20000 руб." href="/catalogue/search/?type=pendant&amp;price_from=10000.0&amp;price_to=20000.0"><span>10000-20000 руб.</span></a></li><li><a data-text="20000-30000 руб." href="/catalogue/search/?type=pendant&amp;price_from=20000.0&amp;price_to=30000.0"><span>20000-30000 руб.</span></a></li><li><a data-text="от 30000 руб." href="/catalogue/search/?type=pendant&amp;price_from=30000.0&amp;price_to=10000000.0"><span>от 30000 руб.</span></a></li>
      </ul>
    </li>
    <li class="has-children col s12 m12 l3">
    </li>
  </ul>
</li>

<li class="has-children">
  <a href="/catalogue/bracelets.html">БРАСЛЕТЫ</a>
  <ul class="cd-secondary-nav row is-hidden">
    <li class="go-back"><a href="/app/assets/stylesheets#">КАТАЛОГ</a></li>
    <li class="see-all grey lighten-4"><a href="/catalogue/bracelets.html">ВСЕ БРАСЛЕТЫ</a></li>
    <li class="has-children col s12 m12 l3">
      <a href="/app/assets/stylesheets#">МАТЕРИАЛ</a>
      <ul>
        <li class="go-back"><a href="/app/assets/stylesheets#">БРАСЛЕТЫ</a></li>
        <li><a data-text="Желтое золото" href="/catalogue/bracelets/jeltoe-zoloto.html"><span>Браслеты из желтого золота</span></a></li><li><a data-text="Розовое золото" href="/catalogue/bracelets/rozovoe-zoloto.html"><span>Браслеты из розового золота</span></a></li>
        <li><a data-text="Серебро" href="/catalogue/braclet/serebro.html"><span>Браслеты из серебра</span></a></li>
      </ul>
    </li>
    <li class="has-children col s12 m12 l3">
      <a href="/app/assets/stylesheets#">ВСТАВКА</a>
      <ul>
        <li class="go-back"><a href="/app/assets/stylesheets#">БРАСЛЕТЫ</a></li>
        <li><a data-text="Бриллиант" href="/catalogue/bracelet/brilliant.html"><span>Браслеты с бриллиантами</span></a></li><li><a data-text="Фианит" href="/catalogue/bracelet/fianit.html"><span>Браслеты  с фианитами</span></a></li>
      </ul>
    </li>
    <li class="has-children col s12 m12 l3">
      <a href="/app/assets/stylesheets#">ЦЕНА</a>
      <ul>
        <li class="go-back"><a href="/app/assets/stylesheets#">БРАСЛЕТЫ</a></li>
        <li><a data-text="до 5000 руб." href="/catalogue/search/?type=bracelet&amp;price_from=0&amp;price_to=5000.0"><span>до 5000 руб.</span></a></li><li><a data-text="5000-10000 руб." href="/catalogue/search/?type=bracelet&amp;price_from=5000.0&amp;price_to=10000.0"><span>5000-10000 руб.</span></a></li><li><a data-text="10000-20000 руб." href="/catalogue/search/?type=bracelet&amp;price_from=10000.0&amp;price_to=20000.0"><span>10000-20000 руб.</span></a></li><li><a data-text="20000-30000 руб." href="/catalogue/search/?type=bracelet&amp;price_from=20000.0&amp;price_to=30000.0"><span>20000-30000 руб.</span></a></li><li><a data-text="от 30000 руб." href="/catalogue/search/?type=bracelet&amp;price_from=30000.0&amp;price_to=10000000.0"><span>от 30000 руб.</span></a></li>
      </ul>
    </li>
    <li class="has-children col s12 m12 l3">
    </li>
  </ul>
</li>

<li class="has-children">
  <a href="#">КОЛЬЕ</a>
  <ul class="cd-secondary-nav row is-hidden">
    <li class="go-back"><a href="#">КАТАЛОГ</a></li>
    <li class="see-all grey lighten-4"><a href="#">ВСЕ КОЛЬЕ</a></li>
    <li class="has-children col s12 m12 l3">
      <a href="#">МАТЕРИАЛ</a>
      <ul>
        <li class="go-back"><a href="#">КОЛЬЕ</a></li>
        <li><a data-text="Белое золото" href="#"><span>Колье из белого золота </span></a></li>
        <li><a data-text="Желтое золото" href="#"><span>Колье из желтого золота </span></a></li>
        <li><a data-text="Розовое золото" href="#"><span>Колье из розового золота </span></a></li>
        <li><a data-text="Серебро" href="#"><span>Колье из серебра</span></a></li>
      </ul>
    </li>
    <li class="has-children col s12 m12 l3">
      <a href="#">ВСТАВКА</a>
      <ul>
        <li class="go-back"><a href="#">КОЛЬЕ</a></li>
        <li><a data-text="Топаз" href="#"><span>Колье с топазами</span></a></li>
        <li><a data-text="Аметист" href="#"><span>Колье с аметистами</span></a></li>
        <li><a data-text="Бриллиант" href="#"><span>Колье  с бриллиантами</span></a></li>
        <li><a data-text="Топаз London Blue" href="#"><span>Колье с топазами london blue</span></a></li>
      </ul>
    </li>
    <li class="has-children col s12 m12 l3">
      <a href="#">ЦЕНА</a>
      <ul>
        <li class="go-back"><a href="#">КОЛЬЕ</a></li>
        <li><a data-text="до 5000 руб." href="#"><span>до 5000 руб.</span></a></li>
        <li><a data-text="5000-10000 руб." href="#"><span>5000-10000 руб.</span></a></li>
        <li><a data-text="10000-20000 руб." href="#"><span>10000-20000 руб.</span></a></li>
        <li><a data-text="20000-30000 руб." href="#"><span>20000-30000 руб.</span></a></li>
        <li><a data-text="от 30000 руб." href=""><span>от 30000 руб.</span></a></li>
      </ul>
    </li>
    <li class="has-children col s12 m12 l3">
    </li>
  </ul>
</li>

<li><a href="#">ШАРМЫ</a></li>

<li><a href="#">БРОШИ</a></li>