<div class="row">
  <div id="notice" class="alert alert-success"><%= notice %></div>
  <h1 class="panel-heading">Редактирование слайда</h1>
</div>
<div class="mb15">
  <%= link_to 'Показать', admin_slide_path(@slide), class: 'btn btn-default mr10'  %>
  <%= link_to 'Назад', admin_slides_path, class: 'btn btn-default'  %>
</div>
<%= render 'form', slide: @slide %>
