<h1>Редактирование производителя</h1>

<%= render 'form', manufacturer: @manufacturer %>

<%= link_to 'Показать', edit_admin_manufacturer_path(@manufacturer) %> |
<%= link_to 'Назад', admin_manufacturers_path %>
