<div class="row">
  <h1 class="panel-heading">Новый производитель</h1>
</div>

<%= link_to 'Назад', admin_manufacturers_path, class: 'btn btn-default mb10' %>

<%= render 'form', manufacturer: @manufacturer %>


