<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @manufacturer.title %>
</p>

<%= link_to 'Изменить', edit_admin_manufacturer_path(@manufacturer) %> |
<%= link_to 'Назад', admin_manufacturers_path %>
