<div class="row">
  <h1 class="panel-heading">Магазины</h1>
  <p id="notice"><%= notice %></p>
</div>
<p>
  <strong>Название:</strong>
  <%= @shop.title %>
</p>

<%= link_to 'Изменить', edit_admin_shop_path(@shop),  class: 'btn btn-default mr10' %>
<%= link_to 'Назад', admin_shops_path,  class: 'btn btn-default' %>
