<!--<li class="has-children">
  <a href="#">Кольца</a>
  <ul class="cd-secondary-nav is-hidden row">
    <li class="go-back"><a href="#">КАТАЛОГ</a>
    </li>
    <li class="see-all grey lighten-4"><a href="#">ВСЕ КОЛЬЦА</a></li>
    <li class="has-children col s12 m12 l3">
      <a href="#">ВИД УКРАШЕНИЯ</a>
      <ul class="is-hidden">
        <li class="go-back"><a href="#">КОЛЬЦА</a></li>
        <li><a href="#">Обручальные кольца</a></li>
        <li><a href="#">Помолвочные кольца</a></li>
        <li><a href="#">Кольца с фианитами</a></li>
        <li><a href="#"> Кольца с эмалью</a></li>
        <li><a href="#">Кольца из керамики</a></li>
      </ul>
    </li>
    <li class="has-children col s12 m12 l3">
      <a href="#">МАТЕРИАЛ</a>
      <ul class="is-hidden">
        <li class="go-back"><a href="#">КОЛЬЦА</a></li>
        <li><a data-text="Белое золото" href="#"><span>Кольца из белого золота</span></a></li>
        <li><a data-text="Желтое золото" href="#"><span>Кольца из желтого золота</span></a></li>
        <li><a data-text="Розовое золото" href=""><span>Кольца из розового золота</span></a></li>
        <li><a data-text="Серебро" href="#"><span>Серебряные кольца</span></a></li>
      </ul>
    </li>
    <li class="has-children col s12 m12 l3">
      <a href="#">ВСТАВКА</a>
      <ul class="is-hidden">
        <li class="go-back"><a href="#">КОЛЬЦА</a></li>
        <li><a data-text="Аметист" href=""><span>Кольца с аметистом </span></a></li>
        <li><a data-text="Бриллиант" href="#"><span>Золотые кольца с бриллиантами</span></a></li>
        <li><a data-text="Изумруд" href="#"><span>Кольца с изумрудом </span></a></li>
        <li><a data-text="Кварц" href="#"><span>Кольца с кварцем </span></a></li>
      </ul>
    </li>
    <li class="has-children col s12 m12 l3">
      <a href="#">ЦЕНА</a>
      <ul class="is-hidden">
        <li class="go-back"><a href="#">КОЛЬЦА</a></li>
        <li><a data-text="до 5000 руб." href="#"><span>до 5000 руб.</span></a></li>
        <li><a data-text="5000-10000 руб." href="#"><span>5000-10000 руб.</span></a></li>
        <li><a data-text="10000-20000 руб." href="#"><span>10000-20000 руб.</span></a></li>
        <li><a data-text="20000-30000 руб." href="#"><span>20000-30000 руб.</span></a></li>
        <li><a data-text="от 30000 руб." href="#"><span>20000-30000 руб.</span></a></li>
        &lt;!&ndash;<li><a data-text="от 30000 руб." href="/catalogue/search/?type=rings&amp;price_from=30000.0&amp;price_to=10000000.0"><span>от 30000 руб.</span></a></li>&ndash;&gt;
      </ul>
    </li>
  </ul>
</li>-->

<!-- Название категории (Первый уровень)-->
<!--<li class="has-children">

  <a href="#">Кольца</a>

  &lt;!&ndash; Второй уровень &ndash;&gt;
  <ul class="cd-secondary-nav is-hidden row">
    <li class="go-back">
      <a href="#">Каталог</a>    &lt;!&ndash;Ко всем категориям навигации&ndash;&gt;
    </li>

    <li class="see-all grey lighten-4">
      <a href="#">Все кольца</a>  &lt;!&ndash; В категорию &ndash;&gt;
    </li>

    &lt;!&ndash; Виды, размеры  (если есть) &ndash;&gt;
    <li class="has-children col s12 m12 l3">
      <a href="#">Вид украшения</a> &lt;!&ndash; Название фильтра (Вид, вставка, цена) &ndash;&gt;

      &lt;!&ndash; Третий уровень &ndash;&gt;
      <ul class="is-hidden">
        <li class="go-back"><a href="#">Кольца</a></li>  &lt;!&ndash; В категорию навигации (Имя категории)&ndash;&gt;
        <li class="see-all grey lighten-4">
          <a href="#">Все кольца</a> &lt;!&ndash; В категорию &ndash;&gt;
        </li>
        <li><a href="#">Обручальные кольца</a></li> &lt;!&ndash; Cсылка в каталог с этим фильтром &ndash;&gt;
        <li><a href="#">Помолвочные кольца</a></li>
        <li><a href="#">Кольца с фианитами</a></li>
        <li><a href="#">Кольца с эмалью</a></li>
        <li><a href="#">Кольца из керамики</a></li>
      </ul>
      &lt;!&ndash; /Третий уровень &ndash;&gt;
    </li>
    &lt;!&ndash; /Виды, размеры  (если есть) &ndash;&gt;


    <li class="has-children col s12 m12 l3">
      <a href="#">Материал</a>
      <ul class="is-hidden">
        <li class="go-back"><a href="#">Кольца</a></li>
        <li class="see-all grey lighten-4"><a href="#">Все кольца</a></li>
        <li><a data-text="Белое золото" href="#"><span>Кольца из белого золота</span></a></li>
        <li><a data-text="Желтое золото" href="#"><span>Кольца из желтого золота</span></a></li>
        <li><a data-text="Розовое золото" href="#"><span>Кольца из розового золота</span></a></li>
        <li><a data-text="Серебро" href="#"><span>Серебряные кольца</span></a></li>
      </ul>
    </li>

    <li class="has-children col s12 m12 l3">
      <a href="#">Вставка</a>
      <ul class="is-hidden">
        <li class="go-back"><a href="#">Кольца</a></li>
        <li class="see-all grey lighten-4"><a href="#">Все кольца</a></li>
        <li><a data-text="Аметист" href="#"><span>Кольца с аметистом </span></a></li>
        <li><a data-text="Бриллиант" href="#"><span>Золотые кольца с бриллиантами</span></a></li>
        <li><a data-text="Изумруд" href="#"><span>Кольца с изумрудом </span></a></li>
        <li><a data-text="Кварц" href="#"><span>Кольца с кварцем </span></a></li>
        <li><a data-text="Сапфир" href="#"><span>Кольца с сапфиром </span></a></li>
        <li><a data-text="Топаз" href="#"><span>Кольца с топазом</span></a></li>
        <li><a data-text="Топаз London Blue" href="#"><span>Кольца с топазом London Blue </span></a></li>
        <li><a data-text="Жемчуг" href="#"><span>Кольца с жемчугом </span></a></li>
        <li><a data-text="Фианит" href="#"><span>Кольца  с фианитами</span></a></li>
      </ul>
    </li>

    <li class="has-children col s12 m12 l3">
      <a href="#">Цена</a>
      <ul class="is-hidden">
        <li class="go-back"><a href="#">КОЛЬЦА</a></li>
        <li><a data-text="до 5000 руб." href="#"><span>до 5000 руб.</span></a></li>
        <li><a data-text="5000-10000 руб." href="#"><span>5000-10000 руб.</span></a></li>
        <li><a data-text="10000-20000 руб." href="#"><span>10000-20000 руб.</span></a></li>
        <li><a data-text="20000-30000 руб." href="#"><span>20000-30000 руб.</span></a></li>
        <li><a data-text="от 30000 руб." href="#"><span>от 30000 руб.</span></a></li>
      </ul>
    </li>

  </ul>
  &lt;!&ndash; /Второй уровень &ndash;&gt;
</li>
&lt;!&ndash; /Первый уровень &ndash;&gt;-->

<% @categories.each do |category| %>
    <li >
      <%= link_to category.title, category_path(category) %>
    </li>
<% end %>



<!--<li><a href="#">ШАРМЫ</a></li>-->
