<div class="row">
  <h1 class="panel-heading">Редактирование типа металла</h1>
</div>
<div class="mb15">
  <%= link_to 'Назад', admin_metal_types_path, class: 'btn btn-default'  %>
</div>
<%= render 'form', metal_type: @metal_type %>