<div>
  <div class="container">
    <nav class="nav_crumbs">
      <div class="nav-wrapper">
        <!-- Mobile nav -->
        <div class="col s12 hide-on-sm-and-up">
          <%= link_to root_path, class: 'catalog-back' do %>
              <i class="material-icons left">keyboard_backspace</i>На главную
          <% end %>
        </div>
        <div class="col s12 hide-on-sm-and-down">
          <%= link_to 'Главная', root_path, class: 'breadcrumb' %>
          <%= link_to 'Магазины', shops_path, class: 'breadcrumb' %>
        </div>
      </div>
    </nav>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col s12 inner_heading ">
      <h1 class="flow-text">Наши Ювелирные Салоны</h1>
      <div class="col l4 m4 sm12 s12" style="margin-bottom: 2rem;">
        <h2 class="flow-text shop-title">ТРЦ "Европа"</h2>
        <p class="shop-address grey-text text-darken-2">
          <i class="material-icons">place</i>
          <b>ТРЦ "Европа"</b><br>
          Курская область, г. Железногорск,<br>
          ул. Ленина, д. 57.
        </p>
        <p class="grey-text text-darken-2">
          <i class="material-icons left">phone</i>
          <a href="tel:+79611960783" class="grey-text text-darken-2">+7 961 196-0783</a>
        </p>
        <p class="grey-text text-darken-2">
          <i class="material-icons left">access_time</i>
          Пн. - Вс.: 10:00 - 21:00</p>
      </div>
      <div class="col l4 m4 sm12 s12" style="margin-bottom: 2rem;">
        <h2 class="flow-text shop-title">ГМ "ЛИНИЯ"</h2>
        <p class="shop-address grey-text text-darken-2">
          <i class="material-icons">place</i>
          <b>ГМ "Линия"</b><br>
          Курская область, г. Железногорск,<br>
          ул. Воинов-Интернационалистов, д. 18.
          <br>
        </p>
        <p class="grey-text text-darken-2">
          <i class="material-icons left">phone</i>
          <a href="tel:+79611960781" class="grey-text text-darken-2">+7 961 196-0781</a>
        </p>
        <p class="grey-text text-darken-2">
          <i class="material-icons left">access_time</i>
          Пн. - Вс.: 10:00 - 20:00</p>
      </div>
      <div class="col l4 m4 sm12 s12" style="margin-bottom: 2rem;">
        <h2 class="flow-text shop-title">ТЦ "Универмаг"</h2>
        <p class="shop-address grey-text text-darken-2">
          <i class="material-icons left">place</i>
          <b>ТЦ "Универмаг"</b><br>
          Курская область, г. Железногорск,<br> ул. Ленина, 37.
        </p>
        <p class="grey-text text-darken-2">
          <i class="material-icons left">phone</i>
          <a href="tel:+79611960782" class="grey-text text-darken-2">+7 961 196-0782</a>
        </p>
        <p class="grey-text text-darken-2">
          <i class="material-icons left">access_time</i>
          Пн. - Вс.: 10:00 - 19:00
        </p>
      </div>
    </div>
    <div class="col s12" style="min-height: 450px">

      <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A9baccced7a055dc94951ec0ba1ba141430dba02669e023939272fdf6affff375&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=false"></script>
    </div>
  </div>
</div>
