<div class="row">
  <div id="notice" class="alert alert-success"><%= notice %></div>
  <h1 class="panel-heading">Редактирование акции</h1>
</div>
<div class="mb15">
  <%= link_to 'Назад', admin_promos_path, class: 'btn btn-default'  %>
</div>
<%= render 'form', promo: @promo %>
