<div class="row">
  <h1 class="panel-heading">Редактирование вставки</h1>
</div>
<div class="mb15">
  <%= link_to 'Назад', admin_incrustations_path, class: 'btn btn-default'  %>
</div>
<%= render 'form', incrustation: @incrustation %>