<h1>Редактирование вставки</h1>

<%= render 'form', incrustation: @incrustation %>

<%= link_to 'Показать', admin_incrustations_path(@incrustation) %> |
<%= link_to 'Назад', admin_incrustations_path %>
