<div class="row">
  <h1 class="panel-heading">Добавление вставки</h1>
</div>
<%= link_to 'Назад', admin_incrustations_path,  class: 'btn btn-default mb10' %>

<%= render 'form', incrustation: @incrustation %>


