<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @incrustation.title %>
</p>

<%= link_to 'Изменить', edit_admin_incrustation_path(@incrustation) %> |
<%= link_to 'Название', admin_incrustations_path %>
