<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @incrustation.title %>
</p>

<%= link_to 'Edit', edit_incrustation_path(@incrustation) %> |
<%= link_to 'Back', incrustations_path %>
