<div class="row">
  <h1 class="panel-heading">Изменение размера скидки</h1>
</div>
<div class="mb15">
  <%= link_to 'Назад', admin_sale_sizes_path, class: 'btn btn-default'  %>
</div>
<%= render 'form', sale_size: @sale_size %>