<p id="notice"><%= notice %></p>

<p>
  <strong>Sale percent:</strong>
  <%= @sale_size.sale_percent %>
</p>

<%= link_to 'Edit', edit_sale_size_path(@sale_size) %> |
<%= link_to 'Back', sale_sizes_path %>
