<div class="row">
  <h1 class="panel-heading">Редактирование товара</h1>

</div>

<%= link_to 'Показать', admin_product_path(@product), class: 'btn btn-default mb20' %>
<%= render 'form', product: @product %>



