<!DOCTYPE html>
<html>
<head>
  <title>JewelryShop</title>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <script src="https://use.fontawesome.com/2e422c17a1.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'true' %>
</head>

<body>
<%= yield %>
<!-- jQuery -->
<!--<script src="../vendor/jquery/jquery.min.js"></script>-->

<!--&lt;!&ndash; Bootstrap Core JavaScript &ndash;&gt;-->
<!--<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>-->

<!--&lt;!&ndash; Metis Menu Plugin JavaScript &ndash;&gt;-->
<!--<script src="../vendor/metisMenu/metisMenu.min.js"></script>-->

<!--&lt;!&ndash; Custom Theme JavaScript &ndash;&gt;-->
<!--<script src="../dist/js/sb-admin-2.js"></script>-->
</body>
</html>
